{% extends 'wrappers/list_layout.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/templates/info-pages.css' %}">
{% endblock %}

{% block header %}
    Одежда
{% endblock %}

{% block url %}
    {% url 'list' %}
{% endblock %}

{% block article %}
    <div class="content-box available">
        <h2>
            Что можно сдать
        </h2>
        <div class="content">
            <div class="par-wrapper">
                <p>Хорошую одежду можно продать или отдать на благотворительность в фонды.</p>
                <p style="margin-top: 20px;">На переработку принимают некоторые сетевые магазины, например, H&M.</p>
            </div>
        </div>
    </div>
{% endblock %}