<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
    <head>
        <title>
            Экология
        </title>
        <meta charset="UTF-8">
        {% block page_css %}
        {% endblock %}
        {% include 'wrappers/links.html' %}
    </head>
    <body>
        <header class="header">
            <h3>
                {% block header %}
                {% endblock %}
            </h3>
        </header>
        <article>
            {% block article %}
            {% endblock %}
        </article>
        {% block additional %}
        {% endblock %}
    </body>
</html>